@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-link {
  background-color: #f9fafb;
  color: black;
}

.nav-link.active {
  background-color: #818cf8;
  color: white;
}

.sidebar-link.active {
  /* background-color: ;tai */
  background-color: #e5e7eb;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.097);
  height: 100vh;
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 2;
}

.modal {
  background-color: white;
  width: 1000px;
  height: 640px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.modal__mini {
  background-color: white;
  width: 550px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal__button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 4;
}
